div.banderas{
	position: relative;
	width: 45%;
	height: 300px;
	border: solid black 1px;
	float: left;
	margin: 30px;

}

div.textoizquierdo{
	
	width: 50%;
	float: left;
	position: relative;
	text-align: left;
	margin-left: 2.4%;
	font-size: 25px;

}

div.textoderecho{
	
	width: 50%;
	float: right;
	position: relative;
	text-align: left;
	margin: 0 -2.4% 0 0 ;
	font-size: 25px;

}

div.colorrojo{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
}

div.coloramarillo{
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: yellow;
	top: 100px;
}

div.dinamarcarojo{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;


}

div.dinamarcahorizontal{
	position: absolute;
	width: 100%;
	height: 30px;
	background-color: white;
	top: calc(50% - 15px);

}

div.dinamarcavertical{
	position: absolute;
	width: 30px;
	height: 100%;
	background-color: white;
	left: 150px;
}

div.red{
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: red;
}

div.green{
	position: absolute;
	width: 75%;
	height: 100px;
	background-color: green;
	left: 25%;

}

div.white{
	position: absolute;;
	width: 75%;
	height: 100px;
	background-color: white;
	left: 25%;
	top:100px;
}

div.black{
	position: absolute;
	width: 75%;
	height: 100px;
	background-color: black;
	left: 25%;
	top: 200px;
}


div.japonblanco{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;

}

div.japonrojo{
	position: absolute;
	width: 150px;
	height: 150px;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
	background-color: red;
	border-radius: 50%;
}

